@charset "UTF-8";

@if $enable-buttons == true {

    .button {
        @include font(1.9rem,1.9rem);
        @include interact(background,#fff);
        display: inline-block;
        padding: 1.1rem 1.5rem;
        background: $color-light;
        color: $color-brand;
        text-align: center;
        transition: $transition-duration-base;

        @at-root a#{&} {
            text-decoration: none;
        }

        &:disabled {
            opacity: .2;
        }

        &--block {
            display: block;
            width: 100%;
        }
    }
}
