@charset "UTF-8";

@if $enable-checkboxes == true {
    .checkbox {
        @include size($checkbox-size);
        position: relative;
        display: inline-block;
        vertical-align: top;

        > input {
            @include size(100%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;

            + span {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                background: #fff;
                border: 1px solid $color-lightest;

                &::after {
                    @include size(0);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: $color-base;
                    content: "";
                    transition: all $transition-duration-base;
                }
            }

            &:checked {
                + span {
                    &::after {
                        @include size($checkbox-size / 2);
                    }
                }
            }

            &:disabled {
                + span {
                    opacity: .2;
                }
            }
        }

        // Invalid
        &--invalid {
            > input + span {
                border-color: $color-error;
            }
        }
    }
}
