@charset "UTF-8";

@if $enable-inputs == true {
    .input {
        > input {
            display: block;
            width: 100%;
            padding: 0 0 .9rem;
            border-bottom: 1px solid $color-lighter;

            &::placeholder {
                color: $color-lighter;
            }

            &:focus {
                border-bottom: 1px solid $color-light;
            }

            &:disabled {
                opacity: .2;
            }
        }

        // Invalid
        &--invalid {
            > input {
                border-color: $color-error;
            }
        }
    }
}
