@charset "UTF-8";

.promo-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 98;

  > ul {

    > li {
      @include interact(background,$color-lighter);
      @include size(4rem);
      position: relative;
      background: $color-brand;
      transition: $transition-duration-base;

      > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
      }

    }

  }


}