@charset "UTF-8";

.promo-slider {

  @include mq(sm) {
    position: relative;
  }
  @include mq(lg) {
    min-width: $container-width;
  }

  &__desktop-image, &__mobile-image {

    @include size(100%);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background:  {
      position: 50% 50%;
      size: cover;
      repeat: no-repeat;
    };
  }


  &__item {
    position: relative;

    @include mq(md) {
      min-height: 76.8rem;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }

  &__desktop-image {

    @include mq(lg) {
      display: block;
    }
  }

  &__mobile-image {

    @include mq(sm) {
      display: block;
    }
  }

  &__content {
    @include size(100%, auto);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 0 2.4rem;
    background: rgba($color-brand, .6);
    z-index: 10;

    @include mq(lg) {

    }

    article {
      color: #fff;

      > header {

        @include mq(sm) {
          text-align: center;
        }

        > h1 {
          @include font(3.4rem,3rem);
          text-transform: uppercase;
          font-weight: 300;
          color: #fff;
        }

        > p {
          @include font(1.3rem,3rem);
          font-weight: 600;
        }
      }

      > p {
        @include text-sm;
        font-family: $font-family-alt;
        color: rgba(#fff,.5);

        @include mq(sm) {
          text-align: center;
        }
      }
    }
  }

  // slick overrides

  .slick-dots {
    position: absolute;
    bottom: 1.3rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    > li {
      @include size(.7rem);
      border-radius: 50%;
      background: rgba(#fff,.5);

      &:not(:last-child) {
        margin-right: 2.2rem;
      }

      &.slick-active {
        background: #fff;
      }
    }
  }
}

.promo-information {
  margin-top: 1.2rem;

  @include mq(sm) {
    display: none;
  }

  &__grid {
    @include mq(lg) {
      display: flex;
    }
  }

  &__col-1-5 {
    padding: 1rem;

    @include mq(sm) {

      &:not(:last-child) {
        border-bottom: 1px solid $color-light;
      }

    }

    @include mq(lg) {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      border-left: 1px solid transparent;
      width: 20%;

      &:first-child{
        border-left: 1px solid #fff;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #fff;

    > h6 {
      @include font(1.3rem,2.1rem);
      text-transform: uppercase;
    }
  }

  &__item-description {
    @include font(1.1rem, 1.4rem);
    margin-top: auto;

    > i {
      @include font(2rem,2.1rem);
      font-style: normal;
      font-weight: 300;
    }
  }

  &__item-icon {
    @include size(6rem);

    svg {
      fill: #fff;
    }
  }
}