@charset "UTF-8";

@if $enable-pseudo-links == true {
    .pseudo-link {
        text-decoration: none;

        &__underline {
            display: inline-block;
            border-bottom: .5pt dotted $color-link;
            line-height: 90%;
        }
    }
}
