@charset "UTF-8";

.section-nav {

  @include mq(sm) {
    margin: 1rem 0;
  }

  @include mq(lg) {
    display: flex;
  }

  > li {

    @include mq(lg) {
      padding: 0 2.5rem;
    }

    &:not(:last-child) {

      @include mq(sm) {
        margin-bottom: 1rem;
      }

      @include mq(lg) {
        border-right: .1rem solid #b3c2d4;
      }
    }

    > a {
      @include font(1.2rem,1.5rem);
      @include interact(color,$color-light);
      display: block;
      color: #004699;
      text-decoration: none;
    }

    &.is-current {
      > a {
        color: $color-light;
        pointer-events: none;
        cursor: default;
      }
    }
  }

}