@charset "UTF-8";

.section-box {

  @include mq(lg) {
    margin: 7.5rem 0;
  }

  &--promo {
    margin-top: 0;
  }

  &--alt-background {
    background: #fff;

    @include mq(lg) {
      padding: 7.5rem 0;
    }
  }

  &__header {

    > h2 {
      @include h2;
      color: $color-base-title;
      text-transform: uppercase;

      @include mq(sm) {
        margin-bottom: 2rem;
      }
    }

    @include mq(lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.6rem;
    }
  }

  &__nav-box {

  }

  &__next-link {
    @include font(1.2rem,1.5rem);
    @include interact(color,$color-light);
    position: relative;
    align-items: flex-start;
    display: block;
    color: $color-brand;
    text-decoration: none;

    &::after {
      @include size(.5rem,.9rem);
      display:inline-block;
      margin-left: .7rem;
      transform: translateY(-.05rem);
      background: {
        position: 50% 50%;
        size: contain;
        repeat: no-repeat;
        image: url(../img/arrowright.png);
      };
      content: '';


    }
  }
}