@charset "UTF-8";

// Media queries
$enable-mq:        true;
$enable-mq-device: false;

// Double hover
$enable-double-hover: true;

// Components
$enable-jquery-ui-autocomplete: true;
$enable-jquery-ui-datepicker:   true;
$enable-jquery-ui-selectmenu:   true;

$enable-buttons:    true;
$enable-checkboxes: true;
$enable-inputs:     true;
$enable-labels:     true;
$enable-radios:     true;
$enable-selects:    true;
$enable-textareas:  true;

$enable-icons:        true;
$enable-nested-lists: true;
$enable-pseudo-links: true;
$enable-rub-sans:     true;
$enable-rub-serif:    true;
$enable-wysiwyg:      true;

// Sticky footer
$enable-sticky-footer: true;
