
.section-box
    .container
        .about

            .about__main-grid
                article.about__main-grid-col
                    h3.about__title La compania

                    .about__main-grid

                        .about__main-grid-col
                            p Nyesa Valores Corporación, S.A. es la cabecera jurídica del denominado Grupo Nyesa. Un grupo de sociedades cuya actividad se centra en la gestión y desarrollo urbanístico, la promoción inmobiliaria y la gestión de patrimonio, contado con presencia en toda España y con una clara vocación de expansión internacional que la ha llevado a abordar proyectos inmobiliarios en varios países del mundo.
                            p Grupo Nyesa tiene como misión principal la puesta en marcha y gestión de activos inmobiliarios nacionales e internacionales a través de la creación, gestión y dinamización de espacios arquitectónicos de primer orden, con los que satisfacer las más exigentes demandas de inversores y compradores, maximizando su rentabilidad.
                            p En este entorno, y siendo un Grupo cuya actividad ha ido adaptándose históricamente a las necesidades y a la situación del mercado, en la actualidad  se encuentra inmerso en el desarrollo de un nuevo e ilusionante plan de negocio concebido para ser un referente en el sector inmobiliario y especialmente enfocado en la expansión internacional en mercados emergentes con un alto nivel de crecimiento previsto para los próximos años.
                            p Para ello cuenta con una estructura patrimonial saneada y un equipo directivo de gestión con una


                        .about__main-grid-col
                            p dilatada experiencia profesional al más alto nivel en el sector y un extenso conocimiento del mercado y de las necesidades de los agentes que en él intervienen, que ha implementado una ambiciosa estrategia de negocio sustentada de manera principal en tres líneas estratégicas:
                            p - En el área inmobiliaria, donde se pretende la creación de valor, tanto de activos propios como de terceros, mediante la gestión urbanística de los suelos, así como mediante la promoción, edificación y comercialización de todo tipo de productos residenciales.
                            p - En el área patrimonial, a través de la identificación, adquisición de los mejores activos del sector, con el fin de conseguir una cartera óptima y diversificada de oficinas, hoteles y espacios comerciales en los mercados más selectos con el objetivo de generar rentas recurrentes para la compañía.
                            p - En el área internacional, gracias a la expansión y el desarrollo de proyectos completos de creación y promoción de espacios urbanísticos de excepcional calidad en mercados internacionales emergentes, buscando las mayores rentabilidades para los inversores y unos retornos altos para los stakeholders.


                        .about__main-grid-col

                article.about__main-grid-col
                    h3.about__title Historia

                    .about__main-grid

                        .about__main-grid-col
                            p Los orígenes de la actual Nyesa Valores Corporación, S.A. se remontan al año 1950, siendo entonces la actividad siderometalúrgica su objeto social bajo la denominación Industrias del Besós, S.A. (Inbesòs). Tras cuarenta años como líder en la transformación de productos siderúrgicos, en el año 1989 una clara vocación de liderazgo y continuo crecimiento la llevan a iniciar un ambicioso proyecto empresarial que supondrá el abandono de su actividad tradicional siderometalúrgica para comenzar su andadura en el sector de la promoción inmobiliaria y el inicio de la cotización de sus acciones en el Mercado Continuo de las Bolsas de Madrid y Barcelona.
                            p Centrada en la promoción inmobiliaria residencial e industrial su crecimiento es exponencial y la actividad de la Compañía se expande rápidamente apoyada en la adquisición de importantes activos inmobiliarios.
                            p Por otro lado, la continua búsqueda de oportunidades de negocio lleva a la Compañía al lanzamiento de una nueva área de negocio, la gestión y explotación de campos de golf, tanto propios como ajenos, lo que la llevará a ser uno de los protagonistas de la expansión del Pitch&Putt en Cataluña y en el centro de España y culminará con la


                        .about__main-grid-col
                            p creación de una marca comercial propia de gestión de campos de golf (InGreen Golf Management).
                            p Sus activos fueron valorados el año 2007 por encima de los 170 millones de euros, al mismo tiempo que su acción resultaba una de las más negociadas del sector en el mercado continuo.
                            p En el año 2008 se produce la integración de Inbesòs con el grupo inmobiliario Nyesa, propietario de activos inmobiliarios valorados en más de 1.500 millones de euros, con un valor de las acciones a aportar de más de  663 millones de euros dando lugar a un grupo de sociedades diversificado geográficamente y con mayor solidez patrimonial. Desde ese año, bajo la actual denominación social Nyesa Valores Corporación, S.A. se lanza el desarrollo de un ambicioso Plan de Negocio que lleva al Grupo a situarse entre los principales promotores inmobiliarios nacionales y a iniciar su expansión en el ámbito internacional con presencia en Estados Unidos, Portugal y Costa Rica. Además, supone la incorporación en el Grupo de una importante cartera de activos patrimoniales gestionados mediante acuerdos con operadores internacionales de primer nivel.