.section-box#articles
    .container
        .articles

            .section-box__header
                h2.projects__title ACCIONISTAS E INVERSORES

                .section-box__nav-box
                    a.section-box__next-link.js-open-section-next-menu(href='#')
                        span TODAS LAS CATEGORIAS
                    ul.section-next-menu.js-section-next-menu

                        li
                            a(href='#') AGENDA DEL INVERSOR

                        li
                            a(href='#') LA ACCION

                        li.is-disable
                            a(href='#') LA ACCION Y SU CAPITAL SICIAL

                        li.is-disable
                            a(href='#') REMUNERACION AL ACCIONISTA

                        li.is-disable
                            a(href='#') COTIZACION

                        li.is-disable
                            a(href='#') COBERTURA DE ANALISTAS

            .articles__grid

                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            a(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            a(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')


                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            a(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            a(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')

                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            a(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            a(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')


                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            a(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            a(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')


                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            a(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            a(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')


                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            a(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            a(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')




