.section-box
    .container
        .projects

            .section-box__header
                h2.projects__title ACCIONISTAS E INVERSORES

                .section-box__nav-box
                    a.section-box__next-link(href='#') TODAS LAS CATEGORIAS
