.section-box
    .container
        .articles

            .section-box__header
                h2.projects__title ACCIONISTAS E INVERSORES

                .section-box__nav-box
                    a.section-box__next-link(href='#') TODAS LAS CATEGORIAS

            .articles__grid

                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            span(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            span(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')

                            a.articles__link(href='#')

                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            span(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            span(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')

                            a.articles__link(href='#')

                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            span(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            span(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')

                            a.articles__link(href='#')

                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            span(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            span(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')

                            a.articles__link(href='#')

                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            span(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            span(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')

                            a.articles__link(href='#')

                .articles__col
                    article.articles__notice
                        header
                            h4
                                span Agenda del inversor
                                span.articles__header-description La acción y su capital social
                            a.articles__link(href='#')
                        p La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria. <a class='articles__link' href='#'></a>

                        footer

                            span(href='#' data-content='3,7 mb')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-2')

                            span(href='#')
                                svg.icon.icon--22(role='img' data-color='1' data-color-atlantis)
                                    use(xlink:href='img/icons.svg#icon-22-1')

                            a.articles__link(href='#')



