.section-box.section-box--alt-background
    .container
        .news

            .section-box__header
                h2.projects__title NOTICIAS

                .section-box__nav-box
                    a.section-box__next-link(href='#') TODAS LAS NOTICIAS

            .news__main-grid

                .news__top-news-col

                    article.article
                        a(href='#')
                            header
                                h4 Hecho relevante publicado en CNMW
                                time(datetime="2017-07-28 19:00") 28.07.2017
                            p.news__description La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria de Accionistas celebrada en primera convocatoria el 27 de julio de 2017



                .news__all-news-col

                        .news__all-news-grid

                            .news__all-news-item

                                article.article
                                    a(href='#')
                                        header
                                            h4 Hecho relevante publicado en CNMW
                                            time(datetime="2017-07-28 19:00") 28.07.2017
                                        p.news__description La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria.


                            .news__all-news-item

                                article.article
                                    a(href='#')
                                        header
                                            h4 Hecho relevante publicado en CNMW
                                            time(datetime="2017-07-28 19:00") 28.07.2017
                                        p.news__description La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria.


                            .news__all-news-item

                                article.article
                                    a(href='#')
                                        header
                                            h4 Hecho relevante publicado en CNMW
                                            time(datetime="2017-07-28 19:00") 28.07.2017
                                        p.news__description La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria.


                            .news__all-news-item

                                article.article
                                    a(href='#')
                                        header
                                            h4 Hecho relevante publicado en CNMW
                                            time(datetime="2017-07-28 19:00") 28.07.2017
                                        p.news__description La Sociedad comunica los acuerdos adoptados en la Junta General Extraordinaria.

