.section-box#project
    .container
        .projects

            .section-box__header
                h2.projects__title PROYECTOS REALIZADOS
                .section-box__nav-box

                    ul.section-nav

                        li.is-current
                            a(href='#') GESTIÓN DE SUELO

                        li
                            a(href='#') CONSTRUCCIÓN Y PROMOCIÓN

                        li
                            a(href='#') PATRIMONIAL

            .projects__grid

                .projects__col
                    article.projects__item
                        .projects__image-box
                            img(src='img/pr-1.jpg' alt='project')
                            a(href='#')
                            .projects__image
                                img(src='img/project/1.png' alt='project')

                        header
                            .projects__description
                                a(href='#') Gestión de suelo
                            h4.projects__title
                                a(href='#') LA ROCA DEL VALLÉS
                            .projects__position
                                a(href='#') Barcelona

                        footer

                            .projects__information-col
                                i
                                    a(href='#') 33.119 м²
                                span
                                    a(href='#') superficie edificable

                            .projects__information-col
                                i
                                    a(href='#') 102
                                span

                                    a(href='#') viviendas unifamiliares

                .projects__col
                    article.projects__item
                        .projects__image-box
                            img(src='img/pr-1.jpg' alt='project')
                            a(href='#')
                            .projects__image
                                img(src='img/project/2.png' alt='project')

                        header
                            .projects__description
                                a(href='#') Gestión de suelo
                            h4.projects__title
                                a(href='#') JARDINES DEL CANAL
                            .projects__position
                                a(href='#') Zaragoza

                        footer

                            .projects__information-col
                                i
                                    a(href='#') 40.877 м²
                                span
                                    a(href='#') superficie edificable

                            .projects__information-col
                                i
                                    a(href='#') 214
                                span

                                    a(href='#') viviendas unifamiliares


                .projects__col
                    article.projects__item
                        .projects__image-box
                            img(src='img/pr-1.jpg' alt='project')
                            a(href='#')
                            .projects__image
                                img(src='img/project/3.png' alt='project')

                        header
                            .projects__description
                                a(href='#') Gestión de suelo
                            h4.projects__title
                                a(href='#') CORAL BEACH
                            .projects__position
                                a(href='#') Marbella

                        footer

                            .projects__information-col
                                i
                                    a(href='#') 58.388 м²
                                span
                                    a(href='#') superficie edificable

                            .projects__information-col
                                i
                                    a(href='#') 137
                                span

                                    a(href='#') viviendas unifamiliares


