.promo-information.promo-information--section#params
    .container

        .promo-information__grid.promo-information__grid--content-center

            .promo-information__col-1-5

                .promo-information__item
                    .promo-information__item-content
                        h6 SUPERFICIE DE SUELO BRUTO
                        .promo-information__item-description <i>240</i> <span>hectáreas</span>

                    .promo-information__item-icon
                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                            use(xlink:href='img/icons.svg#icon-70-7')


            .promo-information__col-1-5

                .promo-information__item
                    .promo-information__item-content
                        h6 SUPERFICIE EDIFICABLE
                        .promo-information__item-description <i>360 000 m²</i>

                    .promo-information__item-icon
                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                            use(xlink:href='img/icons.svg#icon-70-6')


        .promo-information__button-grid

            a.button.button--desktop-size-150.button--brand-color(href='#') Presentación

            a.button.button--desktop-size-150.button--brand-color(href='#') Analista

