.section-box#project
    .container
        .projects

            .section-box__header
                h2.projects__title PROYECTOS REALIZADOS
                .section-box__nav-box

                    ul.section-nav

                        li.is-current
                            a(href='#') GESTIÓN DE SUELO

                        li
                            a(href='#') CONSTRUCCIÓN Y PROMOCIÓN

                        li
                            a(href='#') PATRIMONIAL

            .projects__grid

                .projects__col
                    article.projects__item
                        .projects__image-box
                            img(src='img/pr-1.jpg' alt='project')
                            .projects__image
                                img(src='img/pr-1.jpg' alt='project')

                        header
                            .projects__description Gestión de suelo
                            h4.projects__title LA ROCA DEL VALLÉS
                            .projects__position Barcelona

                        footer

                            .projects__information-col
                                i 33.119 м²
                                span superficie edificable

                            .projects__information-col
                                i 102
                                span viviendas unifamiliares




                .projects__col
                    article.projects__item
                        .projects__image-box
                            img(src='img/pr-1.jpg' alt='project')
                            .projects__image
                                img(src='img/pr-1.jpg' alt='project')

                        header
                            .projects__description Gestión de suelo
                            h4.projects__title JARDINES DEL CANAL
                            .projects__position Zaragoza

                        footer

                            .projects__information-col
                                i 40.877 м²
                                span superficie edificable

                            .projects__information-col
                                i 214
                                span viviendas unifamiliares




                .projects__col
                    article.projects__item
                        .projects__image-box
                            img(src='img/pr-1.jpg' alt='project')
                            .projects__image
                                img(src='img/pr-1.jpg' alt='project')

                        header
                            .projects__description Gestión de suelo
                            h4.projects__title CORAL BEACH
                            .projects__position Marbella

                        footer

                            .projects__information-col
                                i 58.388 м²
                                span superficie edificable

                            .projects__information-col
                                i 137
                                span viviendas unifamiliares

