.section-box.section-box--promo#home

    .promo-slider

        .promo-slider__item.js-promo-slider-item
            .promo-slider__desktop-image(style='background-image: url(img/slides/1-1.jpg)')
            .promo-slider__mobile-image(style='background-image: url(img/slides/1-1.jpg)')
            .promo-slider__content
                .container

                    article.text-align-center
                        header
                            h1 COSTA RICA
                            p Costa Rica - Puerto de Puntarenas

                        p El proyecto Gran Resort La Roca es, sin lugar a dudas, uno de los proyectos turísticos más ambiciosos jamás realizados en América Latina y Caribe.


    nav.promo-nav.js-page-navigate

        ul


            li
                a(href='#home')
                    svg.icon.icon--24(role='img')
                        use(xlink:href='img/icons.svg#icon-24-2')

            li
                a(href='#params')
                    svg.icon.icon--24(role='img')
                        use(xlink:href='img/icons.svg#icon-24-3')

            li
                a(href='#gallery')
                    svg.icon.icon--24(role='img')
                        use(xlink:href='img/icons.svg#icon-24-1')

            li
                a(href='#map')
                    svg.icon.icon--24(role='img')
                        use(xlink:href='img/icons.svg#icon-24-4')






