.section-box#description
    .container
        article.section-box__description
            header.section-box__header.section-box__header--center
                h2.projects__title Descripción
            p Complejo residencial ubicado en la ciudad de Cúcuta, en el área de El Almendrón, zona verde de mayor proyección urbanística de Colombia. Un proyecto de 4.016 viviendas de carácter tanto VIP como VIS, de excepcional calidad arquitectónica y económicamente accesibles, repartidas a lo largo de 16 hectáreas de gran riqueza paisajística acompañadas de parques, calzadas, andenes, espacios comerciales y equipamiento público, un escenario articulador de la vida social, cultural y de ocio de sus habitantes, dispuesto a satisfacer tanto la creciente demanda y necesidades del mercado y compradores en la región, como las expectativas de los socios, stakeholders y participantes.


.section-box

    .project-photo-slider#gallery
        .project-photo-slider__body.js-project-photo-slider

            .project-photo-slider__item.js-project-photo-slide
                img(src='img/slides/photo-1.jpg' alt='photo-1')

            .project-photo-slider__item
                img(src='img/slides/photo-1.jpg' alt='photo-1')

            .project-photo-slider__item
                img(src='img/slides/photo-1.jpg' alt='photo-1')

            .project-photo-slider__item
                img(src='img/slides/photo-1.jpg' alt='photo-1')

            .project-photo-slider__item
                img(src='img/slides/photo-1.jpg' alt='photo-1')

            .project-photo-slider__item
                img(src='img/slides/photo-1.jpg' alt='photo-1')


        a.project-photo-slider__nav-box.project-photo-slider__nav-box--prev.js-earOfSurrender.js-project-photo-prev(href='#') <span class="slick-arrow slick-next" href="#"><img src="img/arrow-left.svg"></span>

        a.project-photo-slider__nav-box.project-photo-slider__nav-box--next.js-earOfSurrender.js-project-photo-next(href='#') <span class="slick-arrow slick-prev" href="#"><img src="img/arrow-right.svg"></span>

.section-box#map
    .container
        header.section-box__header.section-box__header--center
            h3 Costa Rica - Puerto de Puntarenas

    .section-map#project-map


    script.
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('project-map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
        }

