.section-box.section-box--promo

    .promo-slider.js-promo-slider


        .promo-slider__item.js-promo-slider-item(style='background-image: url(img/slide-1.jpg)')
            .promo-slider__content
                .container

        .promo-slider__item.js-promo-slider-item(style='background-image: url(img/slide-1.jpg)')
            .promo-slider__content
                .container

        .promo-slider__item.js-promo-slider-item(style='background-image: url(img/slide-1.jpg)')
            .promo-slider__content
                .container