.section-box.section-box--promo#home

    .promo-slider.js-promo-slider

        .promo-slider__item.js-promo-slider-item
            .promo-slider__desktop-image(style='background-image: url(img/slides/1-1.jpg)')
            .promo-slider__mobile-image(style='background-image: url(img/slides/1-1.jpg)')
            .promo-slider__content
                .container

                    article
                        header
                            h1 COSTA RICA
                            p Costa Rica - Puerto de Puntarenas

                        p El proyecto Gran Resort La Roca es, sin lugar a dudas, uno de los proyectos turísticos más ambiciosos jamás realizados en América Latina y Caribe.

                    .promo-information
                        .promo-information__grid

                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 SUPERFICIE DE SUELO BRUTO
                                        .promo-information__item-description <i>240</i> <span>hectáreas</span>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-7')


                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 SUPERFICIE EDIFICABLE
                                        .promo-information__item-description <i>360 000 m²</i>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-6')





        .promo-slider__item.js-promo-slider-item
            .promo-slider__desktop-image(style='background-image: url(img/slides/4-1.jpg)')
            .promo-slider__mobile-image(style='background-image: url(img/slides/4-1.jpg)')
            .promo-slider__content
                .container

                    article
                        header
                            h1 NARVA LOFT
                            p Rusia - Moscú

                        p Complejo de edificios de apartamentos tipo loft destinados tanto a viviendas como a oficinas o espacios comerciales.

                    .promo-information
                        .promo-information__grid

                            .promo-information__col-1-5


                                .promo-information__item
                                    .promo-information__item-content
                                        h6 SUPERFICIE EDIFICABLE
                                        .promo-information__item-description <i>40 000 m²</i>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-7')



                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 APARTAMENTOS
                                        .promo-information__item-description <i>33 000 m²</i> <span>Area</span>
                                        .promo-information__item-description <i>420</i> <span>Número de</span>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-1')



                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 OFICINAS
                                        .promo-information__item-description <i>2 000 m²</i> <span>Area</span>
                                        .promo-information__item-description <i>35</i> <span>Número de</span>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-4')



                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 RETAIL
                                        .promo-information__item-description <i>2 000 m²</i> <span>Area</span>
                                        .promo-information__item-description <i>30</i> <span>Número de</span>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-5')




                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 HOTEL INNSIDE
                                        .promo-information__item-description <i>2 200 m²</i> <span>Area</span>
                                        .promo-information__item-description <i>87</i> <span>Número de</span>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-2')







        .promo-slider__item.js-promo-slider-item
            .promo-slider__desktop-image(style='background-image: url(img/slides/3-1.jpg)')
            .promo-slider__mobile-image(style='background-image: url(img/slides/3-1.jpg)')
            .promo-slider__content
                .container

                    article
                        header
                            h1 LA RED DE APARTAHOTELES
                            p Rusia - San Petersburgo

                        p NYESA tiene previsto desarrollar una red de apartahoteles. Se planea vender habitaciones a inversores privados durante la fase de construcción.

                    .promo-information
                        .promo-information__grid

                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 PROYECTOS REALIZADOS
                                        .promo-information__item-description <i>2</i>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-7')


                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 SUPERFICIE EDIFICABLE
                                        .promo-information__item-description <i>33 400 m²</i>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-6')


                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 NÚMERO DE HABITACIONES
                                        .promo-information__item-description <i>648</i>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-1')

        .promo-slider__item.js-promo-slider-item
            .promo-slider__desktop-image(style='background-image: url(img/slides/2-1.jpg)')
            .promo-slider__mobile-image(style='background-image: url(img/slides/2-1.jpg)')
            .promo-slider__content
                .container

                    article
                        header
                            h1 COLUMBIA
                            p Cúcuta- Colombia

                        p Complejo residencial ubicado en la ciudad de Cúcuta, en el área de El Almendrón, zona verde de mayor proyección urbanística de Colombia.

                    .promo-information
                        .promo-information__grid

                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 SUPERFICIE DE SUELO BRUTO
                                        .promo-information__item-description <i>16,58</i> <span>hectáreas</span>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-7')


                            .promo-information__col-1-5

                                .promo-information__item
                                    .promo-information__item-content
                                        h6 SUPERFICIE EDIFICABLE
                                        .promo-information__item-description <i>66 519,64 m²</i>

                                    .promo-information__item-icon
                                        svg.icon.icon--60(role='img' data-color='1' data-color-atlantis)
                                            use(xlink:href='img/icons.svg#icon-70-6')



