header.site-header.js-site-header

    a.site-header__menu-button.js-open-menu(href='#')

        .site-header__burger-box
            span
            span
            span

    nav.site-navigate.js-site-navigate

        ul

            li
                a(href='#project') PROYECTOS REALIZADOS

            li
                a(href='#articles') ACCIONISTAS E INVERSORES

            li
                a(href='#news') NOTICIAS

            li
                a(href='#contacts') CONTACTO




    a.site-header__logo(href='index.html')
        img(src='img/logo.svg' alt='logo')
