header.site-header

    a.site-header__menu-button(href='#')
        .site-header__burger-box
            span
            span
            span

    a.site-header__logo(href='#')
        img(src='img/logo.svg' alt='logo')
