footer.site-footer.js-alter-section#contacts
    .container
        .site-footer__main-grid


            .site-footer__contacts-col

                h2.site-footer__title CONTACTO

                .site-footer__contacts

                    dl
                        dt Informacion del grupo
                        dd
                            a(href='mailto:infoaccionistas@nyesavalorescorporacion.com') infoaccionistas@nyesavalorescorporacion.com

                    dl
                        dt Preguntas o comentarios de accionistas o inversores
                        dd
                            a(href='mailto:infoaccionistas@nyesavalorescorporacion.com') infoaccionistas@nyesavalorescorporacion.com

                    dl
                        dt Consular con el equiro de prensa y comunicacion
                        dd
                            a(href='mailto:infoaccionistas@nyesavalorescorporacion.com') infoaccionistas@nyesavalorescorporacion.com


            form.site-footer__feedback.form

                h2.site-footer__title FORMULARIO

                .site-footer__input-grid

                    .site-footer__input-block

                        .input
                            input(type='text' placeholder='Nombre')


                    .site-footer__input-block

                        .input
                            input(type='email' placeholder='E-mail')

                .site-footer__textarea-block
                    .textarea
                        textarea(placeholder='Mensaje')

                .site-footer__button-box
                    button.button ENVIAR

    .site-footer__information
        .container
            .site-footer__information-grid

                span Accionistas e inversores
                a(href='http://www.coalla.ru/' target='_blank') Developed by Coalla Agency
