head
    block head
        meta(charset='utf-8')

        block title

        script var screenWidth = screen.width; var metaContentWidth; if (screen.width < 768) {metaContentWidth = 'device-width, initial-scale=1';} else {metaContentWidth = 1220;} document.write('<meta name="viewport" content="width=' + metaContentWidth + '">');
        meta(name='description' content='')
        meta(name='keywords' content='')
        meta(name='format-detection' content='telephone=no')

        link(rel='stylesheet' href='css/application.css')
        link(rel='apple-touch-icon' href='apple-touch-icon.png')

        script(src='js/modernizr.js')
