doctype html

html.mod_no-js(lang='es')
    include _head


    body.js-page-body
        include components/_site_header

        main.site-main
            block main

        include components/_site_footer

        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDYfBpaHf9WtPlrsNrMHBsqQK0v8U7EagM&callback=initMap', async='', defer='')



        include _scripts


