doctype html

html.mod_no-js(lang='ru')
    include _head

    body
        include components/_site_header

        main.site-main
            block main

        include components/_site_footer

        include _scripts
