extends layouts/application

block title
    title Index / Neo

block main
    include layouts/components/_promo_slider
    include layouts/components/_about
    include layouts/components/_projects
    include layouts/components/_articles
    include layouts/components/_news
