extends layouts/application

block title
    title Index / Neo

block main
    include layouts/components/_project_promo
    include layouts/components/_project_page_info
    include layouts/components/_project_slider


